#content-Container{
    display: flex;
    margin: 0;
    max-height:100vh;
    width: 100w;
}

#content-Container::-webkit-scrollbar {
    display: none;
  }

#button-container{
    margin: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.144);
}

.button{
    margin: 0px 20px;
    padding: 5px;
    border: 0px solid black;
    border-radius: 4px;
}

.button:hover{
    background-color: green;
    color: whitesmoke;
}